<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상세</title>
<link rel="stylesheet" href="/css/detail.css">
<script src="/js/detail.js"></script>
</head>
<body>
	<section>
		<h1 class="header">게시판</h1>
		<div class="contents">
			<h2 class="title">제목</h2>
			<div class="content disNone">
				내용
			</div>
			<form action="" method="get">
				<input type="hidden" name="num" value="1">
				<textarea rows="5" cols="5" name="content">내용</textarea>
			</form>
		</div>
		<div class="buttons">
			<button type="button">취소</button>
			<button type="button">적용</button>
		</div>
		<div class="buttons disNone">
			<button type="button">돌아가기</button>
			<button type="button">삭제하기</button>
			<button type="button">수정하기</button>
		</div>
	</section>
</body>
</html>