<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>작성</title>
<link rel="stylesheet" href="/css/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/write.js"></script>
</head>
<body>
	<section>
		<h1 class="header">게시판</h1>
		<div class="contents">
			<form action="" method="get">
				<input type="text" name="title" id="title" placeholder="제목을 입력하세요.">
				<textarea rows="5" cols="5" name="content" id="content" placeholder="내용을 입력하세요."></textarea>
			</form>
		</div>
		<div class="buttons">
			<button type="button" id="cancel">취소</button>
			<button type="button" id="write">작성</button>
		</div>
	</section>
</body>
</html>